<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true"></compilation>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="AgentService.ServiceBehavior" name="AgentService">
        <endpoint address="" binding="wsDualHttpBinding" contract="IAgentService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/AgentService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AgentService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
<!--<configuration>
  <system.serviceModel>
    <services>
      <service name="AgentService" behaviorConfiguration ="serviceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8500/AgentService"></add>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="Binding1"
        contract="AgentService" />
        <endpoint address="mex"
        binding="mexTcpBinding"
        contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="Binding1"
        closeTimeout="00:01:00"
        openTimeout="00:01:00"
        receiveTimeout="00:10:00"
        sendTimeout="00:01:00"
        transactionFlow="false"
        transferMode="Buffered"
        transactionProtocol="OleTransactions"
        hostNameComparisonMode="StrongWildcard"
        listenBacklog="10"
        maxBufferPoolSize="524288"
        maxBufferSize="65536"
        maxConnections="10"
        maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32"
          maxStringContentLength="8192"
          maxArrayLength="16384"
          maxBytesPerRead="4096"
          maxNameTableCharCount="16384" />
          <reliableSession ordered="true"
          inactivityTimeout="00:10:00"
          enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name ="serviceBehaviour">
          <serviceMetadata policyVersion ="Policy15" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>-->